@import url(https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css);
@import url(https://unpkg.com/heti/umd/heti.min.css);

/* 避免字族被 heti 覆盖 */
.main, .tag, .comment{
    font-family: 'LXGW WenKai GB', 'LXGW WenKai', sans-serif, 'SimSun-ExtB';
    font-display: swap;
}

.main {
    margin: auto;
    max-width: 20cm;
}

h1 {
    text-align: center;
}

.filters {
    text-align: center;
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.filter {
    cursor: pointer;
}

.filter:hover {
    background-color: hsl(0 0 98);
}

.tag {
    font-size: 10pt;

    border: 1px solid;
    border-radius: 2pt;
    padding-left: 3pt;
    padding-right: 3pt;
    margin-right: 2pt;
    white-space:nowrap;

    color: hsl(0 0 30);
    background-color: hsl(0 0 95);
    border-color: hsl(0 0 80);

    /* color: hsl(207 80 60);
    background-color: hsl(0 0 100);
    border-color: hsl(207, 70, 70); */

    user-select: none;
}

.disabled {
    border: 1px dotted;
    color: hsl(0 0 70);
    background-color: hsl(0 0 100);
}

.group-title {
    font-size: 14pt;
    text-align: center;
    background-color: hsl(0 0 95);
    border-bottom: 1px solid hsl(0 0 90);
    padding-top: 3pt;
    padding-bottom: 3pt;
    margin-top: 7pt;
    margin-bottom: 7pt;
}

.row {
    display: flex;
    border-bottom: 1px solid hsl(0 0 90);
    padding-top: 2pt;
    padding-bottom: 2pt;
}

.char-cell {
    display: flex;
    margin-right: 3pt;
}

.simp-box {
    position: relative;
    width: 34pt;
    height: 36pt;
}
.simp {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 28pt;
    font-weight: bold;
}
.problem {
    font-size: 12pt;
    position: absolute;
    bottom: 0;
    right: 0;
    user-select: none;
}

.fix-box {
    margin-left: -6pt;
}

.trad, .fix {
    font-size: 13pt;
}

.glyph {
    width: 13pt;
    height: 13pt;
    margin-bottom: -1pt;
}

.links {
    text-align: center;
    padding-top: 15pt;
    padding-bottom: 5pt;
}





